@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$ash-color: #838383;
$black: #000000b1;
$orange: #ff9257;
$para-color: #2d3134;
$dark-gray: #525252;
$green: #2f584e;
$sun-glow: #f7be2c;

body {
  font-family: "Nunito" !important;
  overflow-x: hidden;
}

.btn-type-1 {
  background-color: $green;
  padding: 16px 45px;
  border-radius: 42px;
  border: 1px solid transparent;
  color: white;
  font-weight: 600;
  font-size: 21px;
  transition: all 0.3s ease;
  &:hover {
    background-color: #34554e;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px #2f584fc2;
  }
}
.link-type-1 {
  font-weight: 600;
  color: black;
  font-size: 20px;
  text-decoration: none;
  &:hover {
    color: $black;
  }
}
.icon-type-1 {
  width: fit-content;
  background: $orange;
  border-radius: 50%;
  padding: 9px;
  width: 52px;
  height: 52px;
}

.header {
  .title {
    font-weight: 600;
    font-size: 28px;
  }
  .navbar-collapse {
    padding-left: 50px;
    padding-top: 9px;
    .nav-link {
      color: $ash-color;
      font-weight: 400;
      font-size: 24px;
      &:hover {
        color: $black;
      }
    }
    .navbar-nav.navbar-nav-scroll {
      column-gap: 40px;
    }
  }
}

.home {
  .left {
    .main {
      padding: 22px 100px;
      background-image: url("/assets/images/Line.png");
      background-repeat: no-repeat;
      .content {
        padding-top: 60px;
        position: relative;
        .title {
          h1 {
            font-size: 60px;
            font-weight: 700;
          }
        }
        .star-icon {
          position: absolute;
          left: 65%;
          top: 47%;
          @media screen and (max-width: 1480px) {
            left: 70%;
          }
          @media screen and (max-width: 840px) {
            left: 80%;
          }
          @media screen and (max-width: 660px) {
            left: 86% !important;
          }
        }
        p {
          max-width: 71%;
          font-size: 17px;
          margin: 0px;
          color: $para-color;
        }
      }
      .count {
        h4,
        span {
          font-size: 38px;
          font-weight: 400;
        }
        span {
          color: $dark-gray;
          font-size: 25px;
        }
        img {
          width: 90px;
          height: 90px;
          border-radius: 50%;
          object-fit: cover;
          overflow: hidden;

          &:first-child {
            border: 5px solid transparent;
            z-index: 0;
          }
          &:nth-child(2),
          &:last-child {
            border: 5px solid white;
            margin-left: -40px;
          }
        }
      }
    }

    .summary {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 30px 100px;
      background-color: $orange;
      .item {
        border-left: 4px solid $sun-glow;
        padding-left: 15px;
        span {
          color: white;
          &:first-child {
            font-weight: 600;
            font-size: 50px;
            letter-spacing: 2px;
          }
          &:last-child {
            font-weight: 400;
            font-size: 24px;
          }
        }
      }
    }
  }
  .right {
    background-image: url("/assets/images/vector.png");
    background-repeat: no-repeat;
    background-size: cover;
    .main {
      padding: 40px;
      .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        img {
          width: 200px;
          height: 190px;
          object-fit: contain;
          &:hover {
            transform: scale(1.1);
            transition-duration: 2s;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1380px) {
  .home {
    .left .main .content .star-icon {
      left: 75%;
      top: 40%;
    }
    .right .main {
      padding-top: 100px;
    }
  }
}
@media screen and (max-width: 1300px) {
  .home {
    .left {
      .main,
      .summary {
        padding: 22px 50px;
      }
    }
    .right .main {
      padding-top: 150px;
      .grid {
        gap: 25px;
      }
    }
  }
  .header .navbar-collapse .navbar-nav.navbar-nav-scroll {
    column-gap: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .home {
    .left .main .content .star-icon {
      left: 88%;
    }
    .right .main {
      padding: 150px 20px;
      padding-bottom: 20px;
    }
  }
  .header {
    .navbar-collapse {
      position: absolute;
      top: 100px;
      background: white;
      z-index: 10;
      width: 100%;
      padding: 30px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .navbar-toggler {
      border: none;
      box-shadow: none !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .home {
    .left {
      .main {
        .content .star-icon {
          left: 78%;
        }
      }
      .gallery-box {
        margin-top: 80px;
        .grid {
          grid-template-columns: repeat(3, 1fr);
        }
      }
      .summary {
        margin-top: 0px !important;
      }
    }
  }
  .home .left .main,
  .home .left .summary {
    padding: 22px 60px;
  }
}

@media screen and (max-width: 767px) {
    .home .left{
        .main{
            .count{
                h4, span{
                    font-size: 28px;
                }
            }
            .content .title h1{
                font-size: 45px;
            }
        }
        .summary .item{
            span{
                &:first-child{
                    font-size: 30px;
                }
                &:last-child{
                    font-size: 20px;
                }
            }       
        }
    }
    .header .navbar-collapse {
        padding: 20px;
        .nav-link{
            font-size: 20px;
        }
    }
    .btn-type-1{
        padding: 12px 25px;
        font-size: 20px;
    }
    
}

@media screen and (max-width: 630px) {
    .home{
        .left .summary{
            grid-template-columns: repeat(1, 1fr);
            text-align: center;
            .item{
                border: none;
                border-bottom: 4px solid #f7be2c;
                min-width: 160px;
                margin: auto;
                margin-bottom: 30px;
                padding: 0px;
            }
        }
    }
}

@media screen and (max-width: 530px) {
    .home .left{
        .summary {
            padding: 22px 30px;
        }
        .main{
            padding: 22px 30px;
            .content{
                .title h1{
                    font-size: 38px;
                }
                .star-icon{
                    top: 63%;
                }
                p{
                    max-width: 85%;
                }
            }
        }
        .gallery-box .grid {
            grid-template-columns: repeat(2, 1fr);
        }
        .count{
            br{
                display: none;
            }
            .gap-5{
                row-gap: 20px !important;
            }
        }
        .btn-type-1, .journey{
            margin: auto;
        }
    }
    .header .title {
        font-size: 20px;
    }
}